html,
body,
body > div:first-child {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-size: 12px;
}
.lowcode-plat img,
.lowcode-plat svg {
  display: inline-block;
  vertical-align: middle;
}
input {
  background: transparent;
}
input:focus {
  outline: none;
  border: 0;
  background: transparent;
  height: 100%;
  width: 100%;
}
span {
  display: inline-block;
}
.smart-app {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.smart-container {
  flex: 3;
}
.smart-container .s-left {
  width: 100px;
}
