@import './global.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
/**ui组件库组件的样式*/
.smart-form-item-inputBox {
  background: #ffffff;
  border-color: rgb(212 212 216 / var(--tw-border-opacity, 1));
}
.smart-form-item-inputBox.inner-input,
.smart-form-item-checkbox.inner-input {
  width: 12.5rem;
}
.smart-form-item-inputBox input {
  line-height: 1.625rem;
  height: 1.625rem;
  border-radius: inherit;
  text-align: inherit;
}
.smart-inputBox-hover {
  border-color: rgb(161 161 170 / var(--tw-bg-opacity, 1));
}
.smart-inputBox-focus {
  border-color: rgb(253 186 116 / var(--tw-border-opacity, 1));
}
.smart-inputBox-error {
  border-color: rgb(248 113 113 / var(--tw-border-opacity, 1));
}
.smart-inputBox-warning {
  border-color: rgb(253 186 116 / var(--tw-border-opacity, 1));
}
.smart-inputBox-readonly {
  background-color: rgb(228 228 231 / var(--tw-text-opacity, 1));
}
.smart-inputBox-disable {
  background-color: rgb(212 212 216 / var(--tw-bg-opacity, 1));
}

.smart-checkbox-icon,
.smart-switch-icon {
  color: rgb(253 186 116 / var(--tw-text-opacity, 1));
}
.smart-checkbox-label {
  color: rgb(63 63 70 / var(--tw-text-opacity, 1));
}
.smart-checkbox-readonly {
  color: rgb(212 212 216 / var(--tw-text-opacity, 1));
}
.smart-checkbox-disable {
  color: rgb(161 161 170 / var(--tw-text-opacity, 1));
}
